
h1 {
    text-align: center;
    font-family: 'Bungee Spice', cursive;
    color: transparent;
    font-size: 148px;
    font-weight: 600;
    letter-spacing: -0.015em;
    background-image: linear-gradient(
        180deg,
        #ffffff,
        #6bee00,
        #ffee00,
        #f38c26,
        #cf6800,
        #ff8000
    );
    background-clip: text;
    -webkit-background-image: text;
}